.sponsor {
    float: left;
    margin: 0 1em 1em 0;
}

.sponsor:hover {
    box-shadow: 0 0 8px #000000;
    -moz-box-shadow: 0 0 8px #000000;
    -webkit-box-shadow: 0 0 8px #000000;
}

header #portal-header #portal-searchbox .searchSection {
    display: none;
}

#content .event.summary {
    box-shadow: none;
    float: none;
    max-width: 100%;
}

.talkinfo #portal-column-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.17);
    padding: 1em;
    background-color: #fff;
}

.talkinfo h1 {
    font-size: 20px;
}

.talkinfo .event.summary {
    background-color: #fff;
}
